@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-fontprimary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Sheard styled */
.text1 {
  color: #fea301;
}
.text2 {
  color: #01acfd;
}
/* Navbar related styled */
.nav-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.nav-title {
  display: flex;
}

.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  border: none;
}

.item-list {
  border: none;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.nav-item {
}

.btn-primary {
  background-color: #fea301;
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 15px auto;
  border-radius: 10px;
  padding: 10px 60px;
  border: none;
}

.nav-title {
  display: flex;
  align-items: center;
  max-width: 200px;
  margin-top: -20px;
  gap: 11px;
}

.brand-title {
  font-size: 32px;
}
/* Header Related Style */
.hero-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
}
.hero-items {
  text-align: left;
  margin: 0 auto;
}
.hero-title {
  margin-top: 122px;
  font-size: 56px;
  font-weight: bold;
  text-align: left;
  max-width: 640px;
  margin-bottom: 0px;
}
.hero-pragraph {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 50px 0px 0px;
}

.hero-btn {
  background-color: black;
  color: #fff;
  border-radius: 12px;
  padding: 10px 47px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Quicksand", serif;
}
